<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV['REQRES_RSPEC_APP'] %> API Documentation</title>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <style type="text/css">
      body {
        margin:0;
        padding:0;
        border:0;
        width:100%;
        background:#fff;
        min-width:600px;
        font-size:90%;
      }
    </style>
  </head>
  <frameset cols="350,*" frameborder="1" border="1" bordercolor="#999999" framespacing="1">
    <frame name="panel" src="./panel.html">
    <frame name="specs" src="./rspec_doc_00000.html">
  </frameset>
</html>
